.title{
    color: rgba(38, 38, 129, 0.822) !important;
    font-size: 45px !important;
    font-weight: 900;
    font-size: 3.5em;
}
.font {
    font-family: 'Bungee Shade';
    font-weight: 900;
}
.al2 .letter {
    display: inline-block;
    line-height: 1em;
}